<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
 <div class="container">
  <app-header></app-header>
  <form *ngIf="showAddTask" #invoiceForm="ngForm">
    <div class="container-fluid pt-2 mb-5">
      <div class="row">
        <div class="col-md-8">
          <div class="card border-secondary">
            
            <div class="card-body">
              <h4 class="card-title">Customer Details</h4>
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name"
                      [ngClass]="{'is-invalid': invoiceForm.submitted && CustName.invalid}"
                      [(ngModel)]="invoice.customerName" #CustName="ngModel" required>
                  </div>
                  <div class="form-group">
                    <label for="address">Address</label>
                    <textarea class="form-control" name="address" id="address" row="3"
                      [ngClass]="{'is-invalid': invoiceForm.submitted && Address.invalid}" [(ngModel)]="invoice.address"
                      #Address="ngModel" required></textarea>
                  </div>
                </div>
                <div class="col-md-4">
                  
                  <div class="form-group">
                    <label for="contactNo">Contact No.</label>
                    <input type="number" class="form-control" name="contactNo" id="contactNo"
                      [ngClass]="{'is-invalid': invoiceForm.submitted && ContactNo.invalid}"
                      [(ngModel)]="invoice.contactNo" #ContactNo="ngModel" required>
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" [(ngModel)]="invoice.email" required>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card border-secondary mt-2">
            <div class="card-body">
              <h4 class="card-title d-flex justify-content-between">Order Details <button type="button"
                  class="btn btn-success" (click)="addProduct()">+</button></h4>
              <div class="row">
                <table class="table">
                  <thead>
                    <tr>
                      <th width="25%">Item</th>
                      <th width="25%">Quantity</th>
                      <th width="25%">Price per unit</th>
                      <th width="25%">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of invoice.products; let i=index">
                      <td scope="row">
                        <input type="text" class="form-control" name="productName{{i}}"
                          [ngClass]="{'is-invalid': invoiceForm.submitted && ProductName.invalid}" id="productName"
                          [(ngModel)]="product.name" #ProductName="ngModel" required>
                      </td>
                      <td>
                        <input type="number" class="form-control" name="price{{i}}" id="price"
                          [ngClass]="{'is-invalid': invoiceForm.submitted && ProductPrice.invalid}"
                          [(ngModel)]="product.price" #ProductPrice="ngModel" required>
                      </td>
                      <td>
                        <input type="number" class="form-control" name="quantity{{i}}" id="quantity"
                          [ngClass]="{'is-invalid': invoiceForm.submitted && ProductQty.invalid}"
                          [(ngModel)]="product.qty" #ProductQty="ngModel" required>
                      </td>
                      <td>
                        {{product.price * product.qty || ''}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card border-secondary mt-2">
            <div class="card-body">
              <h4 class="card-title">Additional Details</h4>
              <div class="form-group">
                <textarea class="form-control" name="additionalDetails" rows="3"
                  [(ngModel)]="invoice.additionalDetails"></textarea>
              </div>
            </div>
          </div>
  
        </div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-success btn-md btn-block"
            (click)="invoiceForm.valid ? generatePDF('print') : ''">Print
            Invoice</button>
            
          <button type="submit" class="btn btn-success btn-md btn-block"
            (click)="invoiceForm.valid ? generatePDF() : ''">Open
            Invoice</button>
        </div>
      </div>
    </div>
  </form>
</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>

